.social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--size-smaller);
    text-shadow: 0 0 2px #333;
    height: 1000px;
}

.social-image-1 {
    background: url(../../../media/images/facebook.png) no-repeat center;
    filter: saturate(1.05);
    background-size: 200px auto;
    width: 100%;
    height: 200px;
    margin: 35px auto 20px auto;
}

.social-image-3 {
    background: url(../../../media/images/yelp.png) no-repeat center;
    filter: saturate(1.05);
    background-size: 260px auto;
    height: 130px;
    width: 260px;
    border-radius: 9px;
    height: 130px;
    margin: 35px auto 20px auto;
}
.social-image-container {
    flex-direction: column;
    padding-bottom: 60px;
    cursor: pointer;
}
    .social-image-container div {
        font-size: var(--size-small);
    }

.image-container div {
    padding: 15px;
}

.social-header h1 {
    font-size: var(--size-little);
    margin: 50px auto;
}