
.viewport {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    margin: auto;
    text-align: center;
}

.page-footer, .sugar-coded {
    background-color: var(--color-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-alt);
    font-size: var(--size-tiny);
    color: var(--color-yellow);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 3;
    margin-top: 25px;
    padding: 20px 5px;
}
    .page-footer p {
        font-size: var(--size-micro);
    }
.footer-company {
    background-color: var(--color-red2);
    padding: 20px 5px 0px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--size-mini);
}
    .footer-company p {
        font-size: var(--size-mini);
        font-family: var(--font-alt2);
    }
.sugar-coded {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--size-micro);
    color: var(--color-yellow);
    background-color: #000;
    box-shadow: 0 0 0 6px var(--color-red2);
}
.powered-by {
    filter: saturate(1.25);
    width: 100%;
    text-align: center;
    color: #999;
    -webkit-text-stroke: 1pt orchid;
    text-shadow: 2px 1px 0 black, -1px -1px 0 white;
    font-weight: bold;
    margin: 5px auto;
    font-size: var(--size-tiny);
}
.powered-by div {
    -webkit-text-stroke: 1pt dodgerblue;
}

.page-footer, .sugar-coded a {
    color: white;
    font-family: var(--font-main);
    font-size: var(--size-mini);
    text-align: center;
}
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: var(--size-micro);
    margin: 5px auto;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    background-color: var(--color-red2);
}

.footer-social-logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-facebook {
    height: 80px;
    width: 80px;
    background: url(../../media/images/facebook.png) no-repeat center, white;
    background-size: contain;
    box-shadow: 0 0 0 3px var(--color-red2) inset;
}

.footer-social-yelp {
    height: 80px;
    width: 80px;
    background: url(../../media/images/yelp.png) no-repeat center, white;
    background-size: contain;
    box-shadow: 0 0 0 3px var(--color-red2) inset;
}

.page-footer a {
    color: white;
    font-family: var(--font-alt);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3px;
    justify-self: flex-end;
}

@media only screen and (min-width: 200px) {
}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 700px) {
    .page-footer {
        flex-direction: row;

    }
    .footer-company, .sugar-coded, .footer-social {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (min-width: 2000px) {
}

@media only screen and (min-width: 2400px) {
}
