
.viewport {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    padding: 60px auto;
    text-align: center;
}

.bottom-nav {
    position: absolute;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--size-mini);
    height: 40px;
    width: 100%;
    padding: 25px 0 0 0;
}

.bottom-nav a {
    width: 100%;
    padding: 15px 0;
    font-family: var(--font-main) !important;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
}

.bottom-nav a:hover {
    background-color: var(--color-red);
}

.header-footer-toggle {
    font-family: var(--font-main) !important;
    position: absolute;
    top: -88px;
    height: 60px;
    width: 40px;
    background: url("../../media/images/toggle_up.png") no-repeat top center;
    background-size: contain;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.page-footer {
    position: relative;
    background-color: var(--color-red2);
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 2px #333;
    align-items: center;
    justify-content: center;
    font-family: var(--font-alt);
    font-size: var(--size-tiny);
    color: var(--color-yellow);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 3;
    margin-top: 25px;
    padding: 55px 15px 20px 15px;
    
}
    .page-footer p {
        font-size: var(--size-micro);
    }
.footer-company {
    background: url("../../media/images/footerbg.png") no-repeat bottom center;
    background-size: 100% 100%;
    background-blend-mode: soft-light;
    height: 150px;
    width: 100%;
    margin: 5px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: var(--size-smaller);
    background-color: var(--color-red2);
}
.footer-company a {
    font-size: var(--size-mini);
    font-family: var(--font-alt2);
    cursor: pointer;
}

.sugar-coded {
    background: url("../../media/images/footerbg.png") no-repeat bottom center;
    background-size: 100% 100%;
    background-blend-mode: soft-light;
    height: 150px;
    width: 100%;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: var(--size-micro);
    color: var(--color-yellow);
    background-color: var(--color-red2);
    
}

.page-footer, .sugar-coded a {
    color: white;
    font-family: var(--font-main);
    font-size: var(--size-smaller);
    text-align: center;
}
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: var(--size-micro);
    font-family: var(--font-alt);
}

.footer-social {
    background: url("../../media/images/footerbg.png") no-repeat bottom center;
    background-size: 100% 100%;
    background-blend-mode: soft-light;
    width: 100%;
    margin: 5px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--size-mini);
    background-color: var(--color-red2);
}

.footer-social-logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer a {
    font-family: var(--font-alt);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 16px;
    justify-self: flex-end;
}

.footer-social-facebook {
    height: 80px;
    width: 80px;
    background: url(../../media/images/facebook.png) no-repeat center, white;
    background-size: contain;
    box-shadow: 0 0 0 1px var(--color-red2) inset;
    color: transparent;
    text-shadow: none;
    margin-right: 10px;
}

.footer-social-yelp {
    height: 80px;
    width: 80px;
    background: url(../../media/images/yelp.png) no-repeat center, white;
    background-size: contain;
    color: #444;
    box-shadow: 0 0 0 1px var(--color-red2) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-main) !important;
    text-shadow: none;
}

.logo {
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4px;
    top: 6px;
    position: relative;
    background-color: var(--color-blackish);
    border: 2px ridge rgba(255,255,255,0.8);
    border-radius: 15px;
    box-shadow: 0 0 0 1px white, 0 0 0 2px green, 0 0 0 3px red, 0 0 0 4px yellow, 0 0 0 5px blue;
}

@media only screen and (min-width: 200px) {
}

@media only screen and (min-width: 500px) {

    .bottom-nav {
        
        font-size: var(--size-smaller);
    }
    
}

@media only screen and (min-width: 700px) {
    .page-footer {
        flex-direction: row;

    }
    .footer-company, .sugar-coded, .footer-social {
        width: 100%;
    }
    .footer-social {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (min-width: 2000px) {
}

@media only screen and (min-width: 2400px) {
}
