.menu-main-container {
    width: 100%;
    margin-top: 60px;
}

.menu-main {
    width: 100%;
    position: relative;
    background-color: var(--color-red);
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    z-index: 1;
}
.company-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.company-logo {
    position: relative;
    margin: 15px auto 15px auto;
    width: 80%;
    max-width: 130px;
    filter: hue-rotate(415deg) saturate(65%) brightness(300%);
    transform: rotate(3deg);
}

.company-name-container {
    width: 100%;
    color: white;
}
.company {
    font-family: var(--font-main);
    font-size: var(--size-little);
    margin: auto;
}
.company-name, .company-name-punctuation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.company-description {
    font-family: var(--font-alt);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--size-tiny);
    color: white;
    text-align: center;
}

@media only screen and (min-width: 200px) {

    .company {
        font-size: var(--size-med);
    }
}
@media only screen and (min-width: 300px) {

    .company {
        font-size: var(--size-big);
    }
}

@media only screen and (min-width: 400px) {

    .company {
        font-size: var(--size-large);
    }
    .company-logo {
        margin: 25px auto 15px auto;
    }
}
@media only screen and (min-width: 500px) {

    .company {
        font-size: var(--size-huge);
    }
}
@media only screen and (min-width: 700px) {

    .company {
        width: 630px;
        display: flex;
    }
}
@media only screen and (min-width: 800px) {

}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}