.menu-main-container {
    width: 100%;
    margin-top: 60px;
}

.header-img {
    background: linear-gradient(0deg, black 0%, transparent 25%), linear-gradient(180deg, black 0%, transparent 15%), linear-gradient(90deg, black 1%, transparent 5%), linear-gradient(270deg, black 1%, transparent 5%),url("../../media/images/delicious-chicken.png");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 540px;
    width: 100%;
    top:0px; 
    position: absolute;
    z-index: -1;
    filter: brightness(0.85) hue-rotate(7deg);
}
.menu-main {
    overflow: hidden;
    position: relative;
    background-color: var(--color-red2);
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    z-index: 1;
}

.company-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.company-logo {
    position: relative;
    margin: 15px auto 15px auto;
    width: 80%;
    max-width: 130px;
    filter: hue-rotate(415deg) saturate(65%) brightness(300%);
    transform: rotate(3deg);
    mix-blend-mode: hard-light;
}

.company-name-container {
    width: 100%;
    color: white;
}
.company {
    font-family: var(--font-main);
    font-size: var(--size-med);
    margin: auto;
}
.company-name, .company-name-punctuation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    text-shadow: 0 0 9px black;
}

.company-description {
    font-family: var(--font-alt);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--size-micro);
    color: white;
    text-align: center;
    margin: 20px auto 40px auto;
}

@media only screen and (min-width: 200px) {

    .company {
        font-size: var(--size-med);
    }
}
@media only screen and (min-width: 300px) {

    .company {
        font-size: var(--size-big);
    }
}

@media only screen and (min-width: 400px) {

    .company {
        font-size: var(--size-large);
    }
    .company-logo {
        margin: 25px auto 15px auto;
    }
}
@media only screen and (min-width: 500px) {
    .company {
        font-size: var(--size-huge);
    }
    .header-img {
        background-size: cover;
    }
}
@media only screen and (min-width: 700px) {

    .header-img {
        width: 100%;
    }
    .company {
        width: 630px;
        display: flex;
    }
}
@media only screen and (min-width: 800px) {

}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
}
