
.menu-main-button-container {
    width: 100%;
    text-align: center;
    background-color: var(--color-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-main-button {
    background: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin: 1px;
    width: 100%;
    color: white;
    font-family: var(--font-main);
    font-size: var(--size-tiny);
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    filter: brightness(.9);
}
    .menu-main-button:hover {
        filter: brightness(1);
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
    }

    .menu-main-button:active {
        filter: invert(0);
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
    }
    
@media only screen and (min-width: 200px) {

    .menu-main-button {
        padding: 14px 0;
    }
}

@media only screen and (min-width: 300px) {

    .menu-main-button {
        padding: 16px 0;
    }
}

@media only screen and (min-width: 400px) {

    .menu-main-button {
        padding: 18px 0;
    }
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 700px) {
    .menu-main-button-container {
        width: 100%;
    }
    .menu-main-button {
        width: 100%;
    }
}