.website {
    background: url(../media/images/seamlessbg0.png);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out+

}

.website-loaded {
    opacity: 1;
}

.dropdown-hiding-area {
    width: 100%;
    height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media only screen and (min-width: 300px) {
}
@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 700px) {


}