
.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--size-smaller);
    padding: 60px 0;
    text-shadow: 0 0 2px #333;
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: var(--size-smaller);
}

.contact-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 565px;
}

.contact-icon {
    margin: 25px auto;
    width: 60px;
    filter: invert(1);
}

.location {
    position: absolute;
    top: 50px;
    z-index: 2;
    padding: 10px;
    cursor: pointer;

}
.location p:hover {
    color: silver;
}
.phone {
    position: absolute;
    top: 300px;
    z-index: 2;
    padding: 10px;
}
    .contact-image-container span p {
        font-family: var(--font-alt);
    }

    .contact-image-container span a {
        font-family: var(--font-alt);
    }

.contact-image {
    background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 10%), linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0) 60%), url(../../../media/images/familyplate03.jpg) no-repeat center;
    filter: saturate(1.05) brightness(0.7);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 460px;
    margin: 35px auto 20px auto;
}
